<div class="container-fluid">

  <header>

    <div class="row">

      <div class="col-12 col-lg-12 mt-5 mb-3 d-flex justify-content-center align-items-center">
  
        <div class="tituloCabecera d-flex align-items-center">
  
          <app-header></app-header>
  
        </div>

      </div>
  
    </div>

  </header>

  <main>

    <app-tareas></app-tareas>

  </main>

  <div class="row footer">

    <div class="col-12 col-lg-12 d-flex justify-content-center">

      <div class="row">

        <div class="col-12 col-lg-3">

          <app-footer></app-footer>

        </div>

      </div>

    </div>

  </div>

</div>